.one {
  background-color: #000cff;
  color: white;
}

.two {
  background-color: #54a4e5;
  color: white;
}

.three {
  background-color: green;
  color: white;
}

.four {
  background-color: #f3f713;
}

.five {
  background-color: #f7a713;
}

.six {
  background-color: #ff0000;
}

.reset {
  background-color: white;
  color: rgb(0, 0, 0);
}

#result {
  font-weight: bold;
  font-size: 150%;
  margin: auto;
}

.lower-part {
  margin: 15px;
}