.one {
  background-color: blue;
}

.two {
  background-color: blue;
}

.three {
  background-color: greenyellow;
}

.normal {
  /* background-color: green; */
}

.five {
  background-color: blue;
}

.six {
  background-color: blue;
}

.seven {
  background-color: blue;
}

.eight {
  background-color: blue;
}