.one {
  background-color: blue;
}

.two {
  background-color: ;
}

.three {
  background-color: greenyellow;
}

.four {
  background-color: green;
}

.five {
  background-color: blue;
}

.six {
  background-color: blue;
}

.seven {
  background-color: blue;
}

.eight {
  background-color: blue;
}